<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
    <h1>로그인</h1>

    <br> 
    {% if user.is_authenticated %} 
    {{ user.username }}님 환영합니다. 
    <a href="signOut/">로그아웃</a>
    {% else %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="username"><br>
        <input type="text" name="password"><br>
        <input type="submit" value="로그인">
        <a href="signIn/">회원가입</a>

    </form>
    {% endif %}
</body>
</html>
 